* {
    box-sizing: border-box;
    font-family: '標楷體';
    overflow: hidden;
}

body {
    width: 1024px;
    height: 768px;
    border: 1px black solid;
}

.header {
    width: 100%;
    height: 65px;
    /* background-color:aliceblue; */
    text-align: center;
    border-bottom: 1px black solid;
}

.container {
    display: flex;
    width: 1024px;
    height: calc(768px - 65px - 20px);
}

.aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: lightblue; */
}

.aside-header {
    width: 215px;
    height: calc(100% - 25px);
    /* background-color: lightgoldenrodyellow; */
    text-align: center;
}

.intro {
    text-decoration: underline;
    font-weight: 500;
    font-size: 24px;
    color: #FF00FF;
    padding-bottom: 5px;
}

.club-1,
.club {
    width: 200px;
    height: 35px;
    margin: 5px;
    background-image: url(../images/menu1.png);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.club>a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.club-1:hover,
.club:hover {
    background-image: url(../images/menu2.png);
}

.aside-footer {
    width: 215px;
    height: 25px;
    /* background-color: yellowgreen; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 16px;
}

.main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: blanchedalmond; */
    border: 1px solid black;
    border-top: 0;
}

.main-header {
    width: 100%;
    height: 29px;
    /* background-color: violet; */
    font-size: 24px;
    color: #0000FF;
    border-bottom: 1px solid black;
}

iframe {
    width: 100%;
    height: 100%;
}

.main-footer {
    width: 100%;
    height: calc(100% - 29px);
    background-color: turquoise;
    border-top: 1px
}

.footer {
    width: 1024px;
    height: 20px;
    /* background-color: lightcoral; */
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    text-align: center;
}