*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

/* body{
   
} */

.header{
    width: 1024px;
    /* 圖片本身才是1000 */
    height: 65px;
    /* background-color: lightcoral; */
    margin:auto;
    border: 1px solid black;
    border-bottom: 0;
    text-align: center;
}

.aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    /* background-color: red; */
    border: 1px solid black;
    border-right: 0;
    border-bottom: 0;
    display:flex;
    flex-direction: column;

}

.aside-header{
    height: calc(100% - 25px);
    /* background-color: purple; */
}

.intro{
    font-size: 24px;
    text-decoration: underline black;
    text-align: center;
    color: #FF00FF;
    font-family: '標楷體';
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.club{
    margin: auto;
    width: 200px;
    height: 35px;
    /* 從資料夾找 圖片內容的尺寸 */
    color: #000000;
    font-size: 16px;
    font-family: '標楷體';
    font-weight: 500;
    /* border: 1px solid black; */
    background-image: url(./images/menu1.png);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.club:hover{
    background-image: url(./images/menu2.png);
}

.aside-footer{
    height: 25px;
    /* background-color: lightblue; */
    color: #0000FF;
    font-family: '標楷體';
    text-align: center;
}


.main {
    width: calc(1024px - 215px);
    /* height: calc(768px - 65px - 20px); */
    /* background-color: green; */
    border: 1px solid black;
    border-bottom: 0;
    
}

.main-header{
    height: 29px;
    /* background-color: lightcyan; */
    /* width: 215px; */
    color: #0000FF;
    font-family: '標楷體';
}
.main-footer{
    height: calc(100% - 29px);
    /* background-color: lightpink; */
}


.footer{
    border-top: 0;
    width:1024px;
    height:20px;
    /* background-color: blue; */
    border: 1px solid black;
    margin: auto;
}