*{
    margin:0;
    box-sizing: border-box;
    font-family:'標楷體';
}

/* body{
    width: 1024px;
    height: 768px;
    background-color: lightblue;
} */

.header{
    border: 1px black solid;
    width:1024px;
    height:65px;
    /* background-color: lightsalmon; */
}

.container{
    width: 1024px;
    /* height: calc(768px - 65px); */
    display: flex;
    flex-wrap: wrap;
}

.aside{  
    width: 215px;
    height: calc(768px - 65px- 20px);
    background-color: yellow;
    border: 1px black solid;
    border-top:0;
    border-right: 0;
}

.aside-header{
    width: 215px;
    height: calc(100% - 25px);
    background-color: lightcoral; 
}

.aside-footer{
    width: 215px;
    height: 25px;
    background-color: grey; 
}

.main-header{
    width: calc(1024px - 215px);
    height: 29px;
    color: #0000FF;
    font-size: 24px;
    /* background-color: lightskyblue;  */
    border-bottom: 1px black solid;
    

}

.main-footer{
    width: calc(1024px - 215px);
    height: calc(765px - 65px - 29px - 20px);
    /* background-color: purple;  */
}

.main-footer > iframe {
    width: calc(1024px - 215px);
    height: calc(765px - 65px - 29px - 20px);
    /* background-color: purple;  */
}



.main{
    border: 1px black solid;
    border-top:0;
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    /* background-color: lightseagreen; */
}

.footer{
    border:1px black solid;
    border-top:0;
    width: 1024px;
    height: 20px;
    /* background-color: lightseagreen; */
}